/*fonts*/
@font-face {
    font-family: 'AkzidenzGrotesk-Light';
    src: url('Akzidenz-Grotesk-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
}

@font-face {
    font-family: 'AkzidenzGrotesk-Medium';
    src: url('Akzidenz-Grotesk-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
}
/* typography */
h1,h2,h3,h4,h5,p,button {font-weight: normal}
h1,h2,button{font-family: 'AkzidenzGrotesk-Medium'}
p{font-family: 'AkzidenzGrotesk-Light'}
*::-webkit-scrollbar { display: none }

/* selection */
h1,h2,li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

html,body {margin:0; padding:0; width:100%; height:100%;max-width:1920px;max-height:1080px;overflow:hidden}
button {border: none; outline: none}
ul {list-style: none; margin:0; padding: 0}
li {float: left; display:block; margin:0; padding:0}

/* left nav */
#nav {position:absolute; top:0; left: 0; width: 15.625%; height: 100%}
#nav li{position: relative; width:100%}
#nav li .spacer { margin-top: 100% }
#nav li .block { position: absolute; top: 0; bottom: 0; left: 0;  right: 0}

/* right content */
#content {position:absolute; top: 0; left:15.625%; width: 84.375%; height: 100%}
#overlay {display: none}
#content li{position:relative; width: 100%; height: 100%; color: #ffffff}
#content li.black{color:#000000}


/* right content */
#content h1 {position:absolute; left: 11%; top: 21%; width: 60%; font-size: 825%; line-height: 90%}
#content h1.l3 {top: 15%}

#content h2 {position:absolute; left: 11%; top: 9%; font-size: 20pt; line-height: 114%; letter-spacing: 0.005em}
#content h2.l2 {top: 12%}

#content div.content {position: absolute;  left: 11%;  top: 61.66%; width: 36%; height:13%; white-space: nowrap}
#content div.content div.paragraphs {position:absolute; width:100%; overflow-x: hidden}
#content div.content div.paragraphs p {display: inline-block; width: 100%; vertical-align: top; white-space: normal; font-size: 20.4pt; line-height: 112%}
#content button.arrow {position: absolute; left: -15%; top: 25%; width: 80px; height: 80px; background: 50% 50% no-repeat}
#content button.right {left: auto; right: -15%}

#content button.learn {position: absolute; left: 11%;  bottom: 11.30%; font-size: 20pt; width: 13.5%; height: 5%;  color: #ffffff}
#content li.black button.learn {color:#000000}

#content button.left {background-image:url(../img/arrow_left_white.png)}
#content button.right {background-image:url(../img/arrow_right_white.png)}
#content li.black button.left {background-image:url(../img/arrow_left_black.png)}
#content li.black button.right {background-image:url(../img/arrow_right_black.png)}
