/*fonts*/
@font-face {
    font-family: 'AkzidenzGrotesk-Light';
    src: url('../css/Akzidenz-Grotesk-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
}

@font-face {
    font-family: 'AkzidenzGrotesk-Medium';
    src: url('../css/Akzidenz-Grotesk-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
}

html,body {margin:0; padding:0; width: 1920px; height: 1080px}
ul {list-style: none; margin:0; padding: 0}
ul::-webkit-scrollbar { display: none }
ul, li {float: left; display:block; margin:0; padding:0}
form,input,button {border: none; outline: none;margin:0;padding:0;background-repeat:no-repeat;background-position: 50% 50%}
*{ -webkit-font-smoothing: antialiased;}
::-webkit-input-placeholder { color:#2c65b9 }
::-moz-placeholder { color:#2c65b9 }

/* left nav */
#nav {position:absolute; top:0px; left: 0; width:300px; height: 1080px}
#nav li{position: relative; width: 300px; height: 300px;background: 50% 50% no-repeat}
body {background:#000000 no-repeat; visibility: hidden; overflow:hidden}

p,h1,h2,li { -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; cursor: default }

#content {position:absolute; top: 0; left:300px; width: 1620px; height: 1080px}
#overlay {display: none}
#content li{position:relative; width: 1620px; height: 1080px; color: #ffffff}
#content li.black{color:#000000}

#content h1 {position:absolute; left: 173px; top: 220px; width: 1000px; font-size: 99pt; line-height: 92%}
#content h1.l3 {top: 160px}

#content h2 {position:absolute; left: 182px; top: 100px; font-size: 20pt; line-height: 114%; letter-spacing: 0.005em}
#content h2.l2 {top: 130px}

#content button.learn {position: absolute; left: 180px; bottom: 122px; font-size: 20pt; width: 210px; height: 55px; color: #ffffff}
#content li.black button.learn {color:#000000}

#content div.description {position: absolute;  left: 182px;  top: 666px; width: 600px; white-space: nowrap}
#content div.description div.box {position: absolute; top:0; left:0; width:610px; height:200px; overflow: hidden}
#content div.description div.paragraphs {position:absolute;width:620px}
#content div.description p {display: inline-block; width: 600px; padding-right:20px; vertical-align: top; white-space: normal; font-size: 20pt; line-height: 112%}
#content div.description p su1p{font-size: 8pt;margin-left:10px;vertical-align: text-top}

#content button.arrow {position: absolute; left: -73px; top: 31px; width: 80px; height: 80px; background: 50% 50% no-repeat}
#content button.right {left: auto; right: -73px}

#content button.left {background-image:url(../img/arrow_left_white.png)}
#content button.right {background-image:url(../img/arrow_right_white.png)}
#content li.black button.left {background-image:url(../img/arrow_left_black.png)}
#content li.black button.right {background-image:url(../img/arrow_right_black.png)}
#content div.first button.left,#content div.last button.right {display:none}

#overlay {position:absolute;top:0;left:0;width:0%;height:1080px;overflow:hidden;background:rgba(128,128,255,0.75)}
#overlay button.close {position:absolute;background:url(../img/close_button.png);width:44px;height:44px;top:128px;right:129px }
#overlay button.submit {position:absolute;width:174px;height:54px;background:#2B64B8;font-size:20pt;color:white}
#overlay section{background:no-repeat;position:absolute;left:0;top:0;width:100%;height:100%;z-index:0}
#overlay section.userinfo button.submit{left:1423px;top:423px}
#overlay section.interests button.submit{left:482px;top:903px}

#overlay h3.header {position:absolute;top:121px;left:482px; width:275px}

#overlay h3{color:white; font-size:22pt;line-height: 110%;margin:0;padding:0}

#overlay form {position:absolute; top:302px; left: 482px}
#overlay form input[type="text"],form div, #keyboard button {position:relative;width: 862px; height: 56px;margin-bottom:4px;padding: 12px 28px;color:#2c65b9; font-size:22pt;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;background-color:#ffffff}

form div.active{background-color:#ddddff}
form div span.copy {padding-right:4px}
form div.populated span.placeholder{display:none}
form div.active span.placeholder {opacity: 0.5}
form div.active span.copy {background:url(../img/cursor.gif) repeat-y top right}
form .error {position:absolute;right:0;top:0;background:red;color:white;border-radius: 5px;font-size:20pt;width:auto;padding:5px 10px;margin:8px}
#keyboard button{padding:0}

#keyboard {position:absolute;left:480px;top:540px;text-align:center;width:1140px}
#keyboard div.row {display:block;clear:both}
#keyboard div.offset {margin-left:52px}
#keyboard div.row button{width:96px;height:96px;float:left;background-color:#ffffff;margin:0 6px 6px 0}
#keyboard div.row button.sb {width:710px}
#keyboard div.row button.sy {width:198px}
#keyboard button.down {background-color:rgba(255,255,255,0.5)}
#keyboard button.sh{background-image:url(../img/keyboard_sh.png)}
#keyboard button.bs{background-image:url(../img/keyboard_bs.png)}
#keyboard.symbols div.row button.z{width:198px}
#keyboard.symbols div.row button.x{display:none}

#categories{height:530px;position:absolute;top:307px;left:480px;width:1260px;columns:3;-webkit-columns:3;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-bottom-collapse: separate;}
#categories li{width:420px;position:relative;display: inline-block; column-break-inside: avoid;height:auto}
#categories li div.check{width:39px;height:39px;background:#2b64b8;position:absolute;top:0;left:0; box-sizing:border-box;
border:20px solid white}
#categories li.selected div.check, #categories li.autoselected div.check {border:4px solid white}
#categories li div.title{color:white;font-size:22pt;margin-left:77px;width:170px;margin-bottom:25px;}
#categories li.autoselected div {color:#ddddff;border-color:#ddddff}

section.submitted h3{position:absolute;left:485px;top:94px;width:650px}

#logo{position:absolute;right:40px;bottom:40px;width:169px;height:69px}
#logo img{position:absolute;left:0;top:0}
#interest_info{list-style:square}
#interest_info li{display:list-item;float:none;padding:5px;margin-left:50px}

/* animations */
form div{transition:background-color 0.4s}
#categories li div.check{transition:border 0.15s}

/* typography */
h1,h2,h3,h4,h5,p,button {font-weight: normal}
h1,h2,button{font-family: 'AkzidenzGrotesk-Medium'}
input,p,div,#keyboard button{font-family: 'AkzidenzGrotesk-Light'}


/*debug */
/*
h1, h2, h3, p {color: red}
#nav {}
#content {}
body {background:url(../img/layout1.jpg)}
*/